{% extends "dentalapp/home.html" %}
{% load static %}



{%block content %}

{% block styles %}
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->

<style>

.form-container {
    /*display: inline-block;*/
    text-align: right;
    width: 90%;
}

.buttonDesignPositive {
    border: 0;
    padding: 10px 20px;
    border-radius: 30px;
    line-height: 1;
    background: #3EAEB8;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;
    margin: 1rem;
}

.buttonDesignPositive:hover,
.buttonDesignPositive:focus {
    background: #328c94;
}
.low {
    color: #f14444;

}

.high {
    color: #00a50e;

}

.mid {
    color: #eeb509;
}
.padding{
    padding-bottom: 80px;
}

</style>

{% endblock %}

<h1 class="pageHeading">View Materials</h1>

<div class="form-container">
    <form method="get" style=>
        {{myFilter.form}}
        <button class="buttonDesignPositive" type="submit">Search</button>
    </form>
</div>

<div class="table-container">
    <table>
        <thead class= "border-bottom font-weight-bold">
            <tr>
                <th>Material Name</th>
                <th>Material Type</th>
                <th>Current Quantity</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for material in materialList %}
            <tr>
                <td data-heading="Material Name">{{material.material_name}}</td>
                <td data-heading="Material Type">{{material.material_type}}</td>
                <td data-heading="Current Quantity">{{material.supplydisplay}}</td>
                <td data-heading="Supply Status">
                    {% if material.supply_status == "Low" %}
                    <span class="low"> 
                    {% elif material.supply_status == "High" %} 
                    <span class="high">
                    {% elif material.supply_status == "Mid" %} 
                    <span class="mid">
                    {% endif %}
                        {{material.get_supply_status_display}}</td>
                    </span>
                    
                <td data-heading="Edit Material">
                    <a class="" href="{% url 'dentalapp:material_update' material.id %}"><i class="fas fa-edit fa-2x" style="color:black"></i></a>
                </td>
                <td data-heading="Delete Material">
                    {% csrf_token %}
                    <a class="" href="{% url 'dentalapp:material_delete' material.id %}"><i class="fas fa-trash-alt fa-2x" style="color:black"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    
    </table>
</div>
<div class = "padding"></div>


<script src="{% static 'js/searchSupplier.js' %}"></script>

<!-- <a class="btn btn-primary btn=sm btn-block" href="{% url 'dentalapp:dentalapp' %}">Go Back to Home</a> -->

{% endblock content %}