{% extends "dentalapp/home.html" %}
{% load static %}



{%block content %}
{% block styles %}
<style>
    .padding{
        padding-bottom: 80px;
    }   
</style>
{% endblock %}
<h1 class="pageHeading">Upcoming Appointments</h1>

<!--<form method="get" style=>
    {{myFilter.form}}
    <button class="btn btn-primary" type="submit">Search</button>
</form>-->

<div class="table-container">
    <table>
        <thead class= "border-bottom font-weight-bold">
            <tr>
                <th>Reservation Number</th>
                <th>Customer</th>
                <th>Date & Time</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservationList %}
            <tr>
                <td data-heading="Reservation Number">{{reservation.id}}</td>
                <td data-heading="Customer">{{reservation.customer}}</td>
                <td data-heading="Date & Time">{{reservation.datetime}}</td>
                <td data-heading="Add Procedures"><a href="{% url 'dentalapp:reservationProcedure_form' reservation.id %}" style="color:#3EAEB8;">Add Procedures</a></td>
                <td data-heading="View Procedures"><a href="{% url 'dentalapp:reservationProcedure_list' pk=reservation.id %}" style="color:#3EAEB8;">View Procedures</a></td>
                <td data-heading="Checkout">
                    {% csrf_token %}
                    <a class="" href="{% url 'dentalapp:checkout_form' reservation.id %}" style="color:#3EAEB8;">Checkout</a>
                </td>
                <td data-heading="Cancel Reservation">
                    <a class="" href="{% url 'dentalapp:cancel_reservation' reservation.id %}" style="color:#3EAEB8;">Cancel Reservation</a>
                </td>
                <td data-heading="Edit Reservation">
                    <a class="" href="{% url 'dentalapp:reservation_update' reservation.id %}"><i class="fas fa-edit fa-2x" style="color:black"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    
    </table>
</div>
<div class = "padding"></div>


<script src="{% static 'js/searchSupplier.js' %}"></script>

<!-- <a class="btn btn-primary btn=sm btn-block" href="{% url 'dentalapp:dentalapp' %}">Go Back to Home</a> -->

{% endblock content %}