{% extends "dentalapp/home.html" %}
{% load static %}



{%block content %}
<h1 class="pageHeading">View Checkouts</h1>

<div class="table-container">
    <table class = "table table-borderless">
        <thead class= "border-bottom font-weight-bold">
            <tr>
                <th>Reservation Number</th>
                <th>Customer</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for checkout in checkoutList %}
            <tr>
                <td data-heading="Supplier">{{checkout.reservation.pk}}</td>
                    <td data-heading="Delivered Date">{{checkout.reservation.customer}}</td>
                <td data-heading="Add Excess Materials">
                    <td data-heading="Add Additional Materials Used"><a href="{% url 'dentalapp:excess_material_form' checkout.pk %}">Add Additional Materials</a></td>
                </td>
                <td data-heading="View Excess Materials">
                    {% csrf_token %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    
    </table>
</div>


<script src="{% static 'js/searchSupplier.js' %}"></script>

<!-- <a class="btn btn-primary btn=sm btn-block" href="{% url 'dentalapp:dentalapp' %}">Go Back to Home</a> -->

{% endblock content %}