{% extends "dentalapp/home.html" %}
{% load static %}
{%block content %}
<!--{% load crispy_forms_tags %} -->

{% block styles %}
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->

<style>
.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    margin-top: 2rem;
}

.buttonDesignPositive {
    border: 0;
    padding: 16px 30px;
    border-radius: 30px;
    line-height: 1;
    background: #3EAEB8;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;
    margin: 1rem;
}

.buttonDesignPositive:hover,
.buttonDesignPositive:focus {
    background: #328c94;
}


.buttonDesignNegative{
    text-decoration: none;
    border: solid 1px #3EAEB8;
    padding: 14px 30px;
    border-radius: 30px;
    line-height: 1;
    background: #ffffff;
    color: #3EAEB8;
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;
    margin: 1rem;
}

.buttonDesignNegative:hover,
.buttonDesignNegative:focus {
    background: #3EAEB8;
    color: #ffffff;
}

.formGroup {
    position: relative;
}

.buttonContainer {
    /*position: absolute;*/
    right: 0;
}

</style>

{% endblock %}


<h1 class="pageHeading">Add Required Materials</h1>

    <div class="formContainer">
        <div class="formGroup">                

            <form action="" method='POST' autocomplete="off">
                <div class="jumbotron">
                    <h1 class="display-4"></h1>
                    <p class="lead">Please input the required materials needed for the procedure and its corresponding quantity.</p>
                    <hr class="my-4">
                    <p></p>
                        <input type="hidden" name="csrfmiddlewaretoken" value="r1xprejYguEsWCj4LCoIEBhaUUmbUmQYNoR6NhmSrRRoYHsvLu87bNok1skABXMG">
        
                        <input type="hidden" name="csrfmiddlewaretoken" value="aaNHo1ie68VPFeJJGet4UFBGJ2p5Qagcwx7oK4l8hv8LHjSaG6dtrRIQQAnuxLcU">
    
                <div class="row">
                <div class="col-12">
    
                    <table class="table table-striped">
                        <thead>
                            <th scope="col"> Name </th>
                            <th scope="col"> Quantity </th>
                        </thead>
                        <tbody>
                            {% for i in RequiredMaterial %}
                            <tr>
                                <td style="text-align: center; vertical-align: middle;"> {{ i.material_name }} </td>
                                <td>            
                                    <div id="div_id_name" class="form-group"> 
                                        <label for="id_name">
                                        </label> 
                                        <div class=""> 
                                            <input type="hidden" name="itemInput {{i.pk}}" value={{i.pk}}>
                                            <input type="text" name="quantity {{i.pk}}" maxlength="300" class="textinput textInput form-control" id="id_name" value=0> 
                                        </div> 
                                    </div> 
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
    
                </div>
            </form>

                    <div class="buttonContainer">

                        <a class="buttonDesignNegative" href="{% url 'dentalapp:procedure_list' %}">Cancel</a>

                        <button type='submit' class='buttonDesignPositive'>Submit</button>

                    </div>
            {% csrf_token %}                
        </div>
    </div>

{% endblock content %}