{% extends "dentalapp/home.html" %}
{% load static %}



{%block content %}
<h1 class="pageHeading">View Materials</h1>

<!--<form method="get" style=>
    {{myFilter.form}}

    <button class="btn btn-primary" type="submit">Search</button>
</form>-->

<div class="table-container">
    <table class = "table table-borderless">
        <thead class= "border-bottom font-weight-bold">
            <tr>
                <th>Material Name</th>
                <th>Required Quantity</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for requiredmaterial in requiredMaterialList %}
            <tr>
                <td data-heading="Material Name">{{requiredmaterial.material}}</td>
                <td data-heading="Required Quantity">{{requiredmaterial.quantity}} {{requiredmaterial.quantity_unit}}</td>
                <td data-heading="Edit Material">
                    <a class="" href="#"><i class="fas fa-edit fa-2x" style="color:black"></i></a>
                </td>
                <td data-heading="Delete Material">
                    {% csrf_token %}
                    <a class="" href="#"><i class="fas fa-trash-alt fa-2x" style="color:black"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    
    </table>
</div>


<script src="{% static 'js/searchSupplier.js' %}"></script>

<!-- <a class="btn btn-primary btn=sm btn-block" href="{% url 'dentalapp:dentalapp' %}">Go Back to Home</a> -->

{% endblock content %}