{% extends "dentalapp/home.html" %}
{% load static %}



{%block content %}
<h1 class="pageHeading">View Suppliers</h1>

<div class="table-container">
    <table class = "table table-borderless">
        <thead class= "border-bottom font-weight-bold">
            <tr>
                <th>Contact Person</th>
                <th>Contact Number</th>
                <th>Address Line 1</th>
                <th>Action 1</th>
                <th>Action 2</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in supplierList %}
            <tr>
                <td data-heading="Contact Person">{{supplier.contact_person}}</td>
                <td data-heading="Contact Number">{{supplier.contact_number}}</td>
                <td data-heading="Address Line 1">{{supplier.address1}}</td>
                <td>
                    <a class="btn btn-primary btn=sm btn-block" href="{% url 'dentalapp:supplier_update' supplier.id %}">Edit</a>
                </td>
                <td>
                    {% csrf_token %}
                    <form action="{% url 'dentalapp:supplier_delete' supplier.id %}" method='post'>
                        <button type = 'submit' class='btn'>
                            <a class="btn btn-primary btn=sm btn-block" href="{% url 'dentalapp:supplier_delete' supplier.id %}">Delete</a>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    
    </table>
</div>


<!-- <a class="btn btn-primary btn=sm btn-block" href="{% url 'dentalapp:dentalapp' %}">Go Back to Home</a> -->

{% endblock content %}