{% extends "dentalapp/home.html" %}
{% load static %}
{%block content %}
{% load crispy_forms_tags %}

{% block styles %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<style>
.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}
</style>

{% endblock %}


<h1 class="pageHeading">Add Supplier</h1>

    <div class="formContainer">
        <div>
            <form action="" method="post" autocomplete="off">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <a class="btn btn-primary btn=sm btn-block" href="{% url 'dentalapp:supplier_list' %}">Cancel</a>

                    <button type='submit' class= 'btn btn-success'> Submit </button>
            </form>
        </div>
    </div>

{% endblock content %}